body {
    /*background: url(../Content/images/Immagine.png) no-repeat center center fixed;*/
    background-color: #3169BE;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-image: url("../Content/images/back_header.png");
    background-position: center top;
    background-repeat: repeat-x;
}
#body_1 {
    /*background: url(../Content/images/Immagine.png) no-repeat center center fixed;*/
    background-color: #3169BE;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-image: url("../Content/images/back_header.png");
    background-position: center top;
    background-repeat: repeat-x;
}

.HeaderPage {
    max-width: 960px;
    width: 100%;
    background-color: AppWorkspace;
    height: 100%;
    width: 100%;
}

#logo {
    background-image: url("../Content/images/logo.png");
    float: left;
    width: 260px;
    height: 90px;
}

.logo {
    background-image: url("../Content/images/sismanApp.png");
    ackground-position: right 5px;
    background-repeat: no-repeat;
    /*float: left;*/
    width: 260px;
    height: 90px;
}

#header {
    background-image: url("../Content/images/ende.png");
    background-position: right 5px;
    background-repeat: no-repeat;
    height: 112px;
    overflow: hidden;
    max-width: 960px;
    /*position:fixed;*/
    /*width: 100%;*/
    /*height: 144px;*/
    margin: 0 auto;
    margin-top: 10px;
    /*width: 960px;*/
}

#page {
    color: #626262;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 100%;
    width: 100%;
}

.RecuperarPassword {
    background-image: url("../Content/images/candado_abierto.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    /*height: 112px;*/
    /*overflow: hidden;*/
    /*max-width: 350px;*/
    /*position:fixed;*/
    /*width: 100%;*/
    /*height: 144px;*/
    margin: 0 auto;
    /*margin-top : 10px;*/
    padding-left: 60px;
    /*background-color : aqua;*/
    line-height: 20px;
    /*width: 960px;*/
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
    /*height : 500px;*/
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 20px;
}

footer {
    clear: both;
    color: white;
    border-top: 1px solid white;
    font-size: 14px;
    position:absolute;
    bottom:0;
    width:100%;   /* Height of the footer */
    /*background:#6cf;*/
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}


.ntl-msg { font-size:1em;width:96%;display:table;margin:0.7em auto;border:1px solid #adadad;padding:0;line-height:1.3em;position:relative;text-align:left;overflow:hidden;background-color:#f5f5f5; }
.ntl-msg .ntl-title { font-weight:bold;display:block;font-size:1em;text-align:left;padding:0.4em;padding-left:2.5em;background:#fff; }
.ntl-msg ul, .ntl-msg ol { margin:1em; } .ntl-msg p, .ntl-msg ul, .ntl-msg ol { display:block;font-style:normal; } .ntl-msg ol li { list-style:decimal outside none; }
.ntl-msg p { text-indent:0em; } .ntl-msg li { list-style:disc outside none;margin-bottom:0.5em;margin-left:2em; }
.ntl-msg.ntl-promo { padding:.5em;  }
.ntl-msg.ntl-promo > .ntl-promo-img { float:left;width:12em; } .ntl-msg.ntl-promo > .ntl-promo-img img { height:100%;width:auto; }
.ntl-msg.ntl-promo > .ntl-wrap { display:block;margin-left:12.5em;padding:.5em 0; }
.ntl-msg.ntl-promo > .ntl-wrap a { font-size:100%;font-weight:bold;/*color:#FFCD36;border-bottom:1px dashed #FFCD36;*/ }
.ntl-msg.ntl-promo > .ntl-wrap a:hover { border-bottom-style:solid; }
.ntl-msg.ntl-promo .ntl-title { font-size:100%;padding:0em;position:static;width:100%;height:auto;overflow:visible;text-indent:0;background:none;color:#000;  }
.ntl-msg.ntl-promo p { font-size:100%;margin:1em 0;position:static;width:auto;text-indent:0;  }
