<h3>
    REPORTES SGCST
</h3>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Ejemplo del uso de formularios - aprenderaprogramar.com</title>
</head>
<body>
<form method="get" action="/reportes/servicio/reportes">
<SPAN title="Parametros"><input type="text" name="niv_calidad" value=""/><br/></SPAN>.
<input type="checkbox" name="pdf" checked="checked" />
PDF<br />
<input type="reset" value="Restablecer" />
<button type="submit">Generar</button>
</body>
</html>
 <!--<Export>
     <OutputFormat> HTML </ outputFormat>
     <Pages> 10-20 </ pages>
     <AttachmentsPrefix>. / Images / </ attachmentsPrefix>
 </ Exportación> -->